.elementor-37
  .elementor-element.elementor-element-99fbc0d:not(.elementor-motion-effects-element-type-background),
.elementor-37
  .elementor-element.elementor-element-99fbc0d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f9f9f9;
}
.elementor-37 .elementor-element.elementor-element-99fbc0d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 60px 0px;
}
.elementor-37
  .elementor-element.elementor-element-99fbc0d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-37 .elementor-element.elementor-element-260b78d {
  padding: 120px 0px 100px 0px;
}
.elementor-37
  .elementor-element.elementor-element-ee484ab:not(.elementor-motion-effects-element-type-background),
.elementor-37
  .elementor-element.elementor-element-ee484ab
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/static/images/contact-pg-min-min.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-37
  .elementor-element.elementor-element-ee484ab
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(21, 26, 48, 0.9) 0%,
    rgba(21, 26, 48, 0.9) 100%
  );
  opacity: 0.98;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-37 .elementor-element.elementor-element-ee484ab {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-37 .elementor-element.elementor-element-c7ba924 {
  padding: 100px 0px 90px 0px;
}
.elementor-37
  .elementor-element.elementor-element-c0e39d8:not(.elementor-motion-effects-element-type-background),
.elementor-37
  .elementor-element.elementor-element-c0e39d8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-37 .elementor-element.elementor-element-c0e39d8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 0px 0px;
}
.elementor-37
  .elementor-element.elementor-element-c0e39d8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-37
  .elementor-element.elementor-element-f43a3f6:not(.elementor-motion-effects-element-type-background),
.elementor-37
  .elementor-element.elementor-element-f43a3f6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-37 .elementor-element.elementor-element-f43a3f6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 100px 0px;
}
.elementor-37
  .elementor-element.elementor-element-f43a3f6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media (min-width: 1025px) {
  .elementor-37
    .elementor-element.elementor-element-ee484ab:not(.elementor-motion-effects-element-type-background),
  .elementor-37
    .elementor-element.elementor-element-ee484ab
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
@media (max-width: 1024px) {
  .elementor-37 .elementor-element.elementor-element-99fbc0d {
    padding: 80px 0px 50px 15px;
  }
  .elementor-37 .elementor-element.elementor-element-260b78d {
    padding: 100px 0px 80px 0px;
  }
  .elementor-37 .elementor-element.elementor-element-ee484ab {
    padding: 80px 0px 80px 0px;
  }
  .elementor-37 .elementor-element.elementor-element-c7ba924 {
    padding: 70px 0px 70px 0px;
  }
  .elementor-37 .elementor-element.elementor-element-87c7925 {
    padding: 0px 0px 40px 0px;
  }
  .elementor-37 .elementor-element.elementor-element-c0e39d8 {
    padding: 70px 0px 0px 0px;
  }
  .elementor-37 .elementor-element.elementor-element-f43a3f6 {
    padding: 0px 0px 60px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-37 .elementor-element.elementor-element-99fbc0d {
    padding: 80px 0px 50px 0px;
  }
  .elementor-37 .elementor-element.elementor-element-ee484ab {
    padding: 80px 0px 80px 0px;
  }
  .elementor-37 .elementor-element.elementor-element-87c7925 {
    padding: 0px 0px 50px 0px;
  }
}
